<div class="container">
  <div class="row">
    <!-- Form Section on the Left -->
    <div class="col-md-6 form-section">
      <h1 class=" text-dark fw-bold pt-5">Reset Password</h1>
      <p class="pargraf-reset">well send you a link to reset your password</p>
      <div class="my-5">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <div class="input-group">
                <input type="email" class="form-control p-2 rounded-3" id="email" placeholder="Enter your email">
                <i class="fa-regular fa-envelope"></i>
              </div>
            </div>
            <button type="submit" class="btn btn-login w-100" routerLink="/check-email">Send Email</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Image Section on the Right -->
    <div class="col-md-6 image-section ps-5 ms-5">
      <img
        src="https://s3-alpha-sig.figma.com/img/7efa/809e/d04186394694b1da1a91832612904cc7?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TK-dAT~QrXtIdV2QYX~R9K0ZTskLnqYBSANf7FFA-DO9vhYJXmpUXUPngkma2BMGbhuiiFQmVpnJtrui1~zRYCoq5JOd4OW6kjWcqeR-JxNnyIMKIPwBlplFl6QcJJJRdkmH3wHRuRJ5e55TehoBUFREEZ~lK1ICQqOHRPneFFgGjKfK6NASPA82PoZV5FcoC12AZ3fOKFXUYhZSkOqnCzFGHGvJEjbe-oUufC1ElSmoiCdD4T6kHM0odEEyeRRkJPVG4dXMUUuVQQbfh50ZsTEJ4A16v~hn3m8ijtAkAYvmzLQ29WoYcAVfc~urCR1r-jB6GPj5fYg8FZGEbBSpBQ__"
        alt="NuesHub Image">
    </div>
  </div>
</div>
