/* Custom Styles */
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}



.btn-brand {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-brand:hover {
  background-color: #0056b3;
}

.image-section img {
  max-width: 100%;
  border-radius: 10px;
}

.text-center span {
  color: var(--color-clr);
}

.form-section {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.col-md-6 {
  flex: 1;
  padding: 15px;
}



.input-group {
  position: relative;
}

.input-group i {
  position: absolute;
  top: 50%;
  right: 10px;
  /* Move icon to the right */
  transform: translateY(-50%);
  color: #6c757d;
  cursor: pointer;

}

.form-label {
  font-size: 17px;
  font-weight: 600;
}


.form-check-label {
  margin-right: 20px;
}

.float-end {
  text-decoration: none;
}

.btn-login {
  background-color: var(--color-clr);
  color: white;
}

.btn-login:hover {
  background-color: rgba(120, 57, 255, 0.658);
}

.pargraf-reset{
  color: #000000a4 !important;
}

@media (max-width: 767px) {
  .image-section {
    display: none;
  }

  .form-section {
    width: 100%;
    padding: 20px;
  }
}
