<div class="container">
  <div class="row">
    <!-- Form Section on the Left -->
    <div class="col-md-6 form-section">
      <h1 class=" text-dark fw-bold pt-5">Reset Password</h1>
      <p class="pargraf-reset">well send you a link to reset your password</p>
      <div class="my-5">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <div class="input-group">
                <input type="email" class="form-control p-2 rounded-3" id="email" placeholder="Enter your email">
                <i class="fa-regular fa-envelope"></i>
              </div>
            </div>
            <button type="submit" class="btn btn-login w-100" routerLink="/check-email">Send Email</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Image Section on the Right -->
    <div class="col-md-6 image-section ps-5 ms-5">
      <img
        src="https://img.freepik.com/free-photo/ai-robot-frame-technology-abstract-futuristic-tech-design-with-blank-space_53876-129790.jpg"
        alt="NuesHub Image">
    </div>
  </div>
</div>
