<div class="container">
  <div class="row">
    <!-- Form Section on the Left -->
    <div class="col-md-6 form-section">
      <h1 class="text-center text-dark fw-bold pt-5">Welcome to <span>Nues</span>Hub</h1>
      <p class="text-center">With NuesHub dashboard you can track analytics of how your newsletter is performing on our platform.</p>
      <div class="my-5">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <div class="input-group">
                <input type="email" class="form-control p-2 rounded-3" id="email" placeholder="Enter your email">
                <i class="fa-regular fa-envelope"></i>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <div class="input-group">
                <input type="password" class="form-control p-2 rounded-3" id="password" placeholder="Enter your password">
                <i class="fa-solid fa-lock"></i>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                <label class="form-check-label" for="rememberMe">
                  Remember me
                </label>
                <a routerLink="/reset-passowrd" class="float-end">Forgot Password?</a>
              </div>
            </div>
            <button type="submit" class="btn btn-login w-100">Login</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Image Section on the Right -->
    <div class="col-md-6 image-section ps-5 ms-5">
      <img
        src="https://img.freepik.com/free-photo/ai-robot-frame-technology-abstract-futuristic-tech-design-with-blank-space_53876-129790.jpg"
        alt="NuesHub Image">
    </div>
  </div>
</div>
