<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 text-center">
      <div class="section-title">
        <h1 class="display-4 text-dark fw-semibold pt-4 pb-3">
          Check your email
        </h1>
        <hr>
        <div class="line bg-dark"></div>
      </div>
      <p class="text-dark fs-5"> <span class="text-rv">we have sent you an email to with link to reset your
          password.</span><span class="clr fs-3">Nues</span>Hup</p>
      <button class="btn mt-5 btn_all">Open Gmail</button>
      <p>Did not receive the email?Cheek your span folder</p>
    </div>
    <div class="col-12 text-center">
      <div class="section-title">
        <p>Or try to <a class="rest" routerLink="/reset-password">reset your password</a></p>
    </div>
  </div>
