<section class="hero-section bg-header ">
  <div class="container ">
    <div class="row g-5">
      <div class="d-flex align-items-center pt-5 justify-content-between">
        <div class="col-12 col-lg-6">
          <h1 class="text-black fw-bold">
            Delicious
          </h1>
          <p class="text-black pt-4">
            Discover a wide range of delectable dishes from various
            cuisines.
          </p>
          <button class="btn mt-5 btn_start">Start</button>
          <button class="btn bg-black ms-3 mt-5 btn_all">All Products</button>
        </div>
        <div class="col-12 col-lg-6">
          <div class="d-flex justify-content-end">
            <div class="d-flex flex-column">

              <div class="bord"></div>
            </div>
            <img
              src="https://s3-alpha-sig.figma.com/img/b102/ce93/7aa246ba8eda77fcabf27046b721d82a?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=G2zZE2tTcn89ozy9xyf2FBJD5-rPqxP4dGtn9EXv2y9yzgBbsCxvz2sx~XkVYRHPgfj9FhadNetjWk~CP-6diM1s8OPe5ojROT0wJQTOi9HI5x7ELoTZT-7aZZoz4q2bZwHDrylB9o204jNHrV-5NSiDA9HZpRSs4AhH6rXiON-hznDMJqKvqMjP3PKhSUVd-~WQuxuizhuzeJ31CCzSX8Ckut87nUsdp3~Aoi~v4xiFkeC2o6UoGzuEF0nKPm6qcc-SUOaF~nW08BHA0Sg01FEFF52qQSOpuZnBshGDnlRWZEbKVdqT3~oBAaIfFEuOhgP~~ZC~~0zoAOeIhqHHpw__"
              class="hero-img rounded-5" alt="a man using vr gadget" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<main>
  <section class="featured py-5 container" id="features">
    <div class="container">
      <h2 class="text-dark fw-bold text-center pt-5 pb-5">
        Find News Letter
      </h2>
    </div>

    <div class="container d-flex justify-content-center mt-100">
      <div class="row w-100">
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <!-- Product 1 -->
                <div class="col-md-4 col-sm-6 col-12 ">
                  <div class="product-wrapper mb-45 text-center">
                    <div class="product-img">
                      <a href="#" data-abc="true">
                        <img
                          src="https://s3-alpha-sig.figma.com/img/f19a/c765/a2b197842368b9b54155c16993c44ed6?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=V9wk2u8kqCwVjaZ3Gd9LE3ZfWGebc5nLoMKsclbsZKW~4a~~lSOA5VFsJzaAbrwaZOLWiFGmEBUL0Us99hxUOOzZmGZmoVaqre7VNoa5uK4mQbM71JrvC~wlpflRQ7XX9YTAO5APXISOLC7jlQTdIOd0-j16a5BEwZR2fVQQY05hdvdWO5N0gUsU4AegSHz0siW0k5TeiPla0jdawog3ubHrSDHYXn11UqLxN-ZxsOWythS8sp~W-GwEFnd~k5xKwF~GF6MxWoAnzqmdPqxuRSOBMMVVscmg3VkSU8XlQJQYQTP8X268NHGMCcOWhb3MBQc8957iJvWy0YzcOsLU3g__"
                          class="img-fluid" alt="">
                        </a>
                        <span class="text-center"><i class="fa fa-rupee"></i> 43,000</span>
                      </div>
                      <div class="product-action product-action-style">
                        <h5 class="pe-3 ps-3">Intro to world of code</h5>
                        <p>By Th3 GreatC</p>
                        <p class="text-wl">Welcome to my padg</p>
                        <div class="btn mt-3">Read More</div>
                      </div>
                  </div>
                </div>

                <!-- Product 2 -->
                <div class="col-md-4 col-sm-6 col-12 ">
                  <div class="product-wrapper mb-45 text-center">
                    <div class="product-img">
                      <a href="#" data-abc="true">
                        <img
                          src="https://s3-alpha-sig.figma.com/img/3b2e/e536/5f3457b64e3aa9ab56ae96e38c56205b?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=E8ms~ggPLezLdqh~smS9s971k9euX~99OjpUC2mb4PoRj-sWte087Aq8IkCiLT6nGMMe8eMCpGDkJ8CF12WAzZnPWZERi2AzkJqozQk4xGLlNyW2dgHx3xcsyXWU61nF9v0AtAWf9HfgAMcZ8tPo-R6fNvmb7EHzYy83v5mnNV4fDLv5D6wGO-H~-CcIDgH-gKG78e78eE5jnP8HFmC39~DBDebIEfJIrjmgm4GwunhLq4WNdLYxxP-6WzBr1GGJeKTL0x4pNjiLb21yBH5l3CaSyqe5ogtwAU4M~iBSPZK2abw88UnIYiXA2L8k2Gmz3wTlb8sjLuve6UVjBwE2ZQ__"
                           class="img-fluid" alt="">
                      </a>
                      <span><i class="fa fa-rupee"></i> 41,000</span>
                    </div>
                    <div class="product-action product-action-style">
                      <h5 class="pe-3 ps-3">Intro to world of code</h5>
                      <p>By Th3 GreatC</p>
                      <p class="text-wl">Welcome to my padg</p>
                      <div class="btn mt-3">Read More</div>
                    </div>
                  </div>
                </div>

                <!-- Product 3 -->
                <div class="col-md-4 col-sm-6 col-12 ">
                  <div class="product-wrapper mb-45 text-center">
                    <div class="product-img">
                      <a href="#" data-abc="true">
                        <img
                          src="https://s3-alpha-sig.figma.com/img/3ee4/f55f/cae9eeb2c713f97e3a89e9c84c4329ce?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AbdJbd9c~7Ld1MLrlY123b766uAaCUy3X13lSM0jspzhTSt6x1ZnkTU19lCJQiOu5HARIHtMsId4eBkFHAnwIhWJrgBJYBVgholLXz89ybe-SfGk~CyZ0pGqH~pcRF7YsPxINXO88BpakrVI446eNA8sHmTN-aVo-H3krLXMrAftPKahuUx8RVb7VlsxZ8v0JbiZo6V-mTb4e8Ucz~DtMKVSeqrxPIElp~1CP7GEQ4iJJ7~IV1mOSj0PKOcUBppvdT6ARq5ddPGAHNE-m6l0UwkaMY1f6bL1S-xrhh5anV8pl5VVgYD-9luTxIBmd4itSvHpLKEQKO4jI1fbWv6XHQ__"
                          class="img-fluid" alt="">
                      </a>
                      <span><i class="fa fa-rupee"></i> 33,000</span>
                    </div>
                    <div class="product-action product-action-style">
                      <h5 class="pe-3 ps-3">Intro to world of code</h5>
                      <p>By Th3 GreatC</p>
                      <p class="text-wl">Welcome to my padg</p>
                      <div class="btn mt-3">Read More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item active">
              <div class="row">
                <!-- Product 1 -->
                <div class="col-md-4 col-sm-6 col-12 ">
                  <div class="product-wrapper mb-45 text-center">
                    <div class="product-img">
                      <a href="#" data-abc="true">
                        <img
                          src="https://s3-alpha-sig.figma.com/img/68e8/758a/000d6db04cc0f23cbf8381cc03218ba5?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=at-PqmYiAJ8jowtK0hazda7I6mhX8E9-6rpxYDjHSV6bdF8E0ijo3i4tIfgrBlkQfALHXJVWqcCTdb-QeEPdh4WFC2GbGgOwH6Z71tQO4sNZvX9FTCQ5q0jhUWKb~BS8Ry6jm-keIcl4sxy3shjVtWPZ1rhj4XkJjcign6AUy94W0JtDINs9f7xVjc1VSEUN80MOWIcpirLhwak5FyVxJEeK3AYhBrvqwKtH3ajO8WjXGGylCEJP6iMBG8zSarTArEo-1nNY~xSGYxOwZt40GEq3kiRMYjj41EmGCjcsTO0i6AirzvMgFScrr53rzNxZJoMYnBLJjzGYzIwR3TMw1Q__"
                          class="img-fluid" alt="">
                      </a>
                      <span class="text-center"><i class="fa fa-rupee"></i> 43,000</span>
                    </div>
                    <div class="product-action product-action-style">
                      <h5 class="pe-3 ps-3">Intro to world of code</h5>
                      <p>By Th3 GreatC</p>
                      <p class="text-wl">Welcome to my padg</p>
                      <div class="btn mt-3">Read More</div>
                    </div>
                  </div>
                </div>

                <!-- Product 2 -->
                <div class="col-md-4 col-sm-6 col-12 ">
                  <div class="product-wrapper mb-45 text-center">
                    <div class="product-img">
                      <a href="#" data-abc="true">
                        <img
                          src="https://s3-alpha-sig.figma.com/img/047b/e873/83f4ac7d9cfb19e2239ab5166111db13?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=K6xdnd0HBgoSOL0dHibDR4m52qaZ0VJ5eR6sEHIjw7M005tQ3z91ZwI2IXL0UGMgY9lzD6WR8-QKzDHXOjPeqHTKZy9t9Sf5~hCbBcse7qEb7chPq6buurAJAa6Jkd7frQ7pxTLSzLPub0G8aWuyjuwOnrwrqG61a9RsJepsavAjz6pp9ZRgfRm05oq5wAC2y4NWOsvrJzK3-HlLY-FC0rGrn3gnlsE8Mgb3LpkD26r-PFZ2XqPanBhGE4Eq0V0M-nWUQiInWHW5afoTK3fYSAVXgP4so4OeOyHnL4KD8N3lTGbkJnuTRGfpty8rPZdll1gy8CRoiIzpVxTiyDsAyA__"
                          class="img-fluid" alt="">
                      </a>
                      <span><i class="fa fa-rupee"></i> 41,000</span>
                    </div>
                    <div class="product-action product-action-style">
                      <h5 class="pe-3 ps-3">Intro to world of code</h5>
                      <p>By Th3 GreatC</p>
                      <p class="text-wl">Welcome to my padg</p>
                      <div class="btn mt-3">Read More</div>
                    </div>
                  </div>
                </div>

                <!-- Product 3 -->
                <div class="col-md-4 col-sm-6 col-12 ">
                  <div class="product-wrapper mb-45 text-center">
                    <div class="product-img">
                      <a href="#" data-abc="true">
                        <img
                          src="https://s3-alpha-sig.figma.com/img/42ec/4432/1faa4a1de201b351aa745dccb751155d?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YKrGqYK09CPnR9PHkFloIbDiesyKTbZAlEFwdMAVvTsEOuZ5nLN7pwovA5SmDR8U93EG6w1Rj5k1Ys2TOmQNaIVwij32TN730wnLfY~UPIj3kuaDSbsX~SkKJI7HmssbZWxHTc~xZqem9Sm9CVxTUE~~DSehgtlWv-2XI1iegoAYjcrboEBF7PnuufonFm5TeRF~DkcRWc0zWaD8vhcNqkNd2ARslbVTriqbIdLu4Ki7HRMb9TMbF88TYITM7eRRh~HPXtsPIBdtTQ7BkaaaeOZCq-6ndtCi9Bb1rkcBRMWm6M-aWYu5VFFbHGxs2XEg4InyDyJeTqcDX3UYYObK5w__"
                          class="img-fluid" alt="">
                      </a>
                      <span><i class="fa fa-rupee"></i> 33,000</span>
                    </div>
                    <div class="product-action product-action-style">
                      <h5 class="pe-3 ps-3">Intro to world of code</h5>
                      <p>By Th3 GreatC</p>
                      <p class="text-wl">Welcome to my padg</p>
                      <div class="btn mt-3">Read More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonials">
    <div class="container">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container py-5">
            <div class="row">
              <div class="col-12">
                <div class="d-flex flex-column align-items-center justify-content-center text-center">
                  <div class="testimonial-card">
                    <h3 class="testimonials-name pb-3">Area your a news Letter onwer ?</h3>
                    <div class="btn mb-3">Joing us today</div>
                    <p class="text-wl">You can feature your newslatter in our platform</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section>



  <section class="section-padding pb-5" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title">
            <h1 class="display-4 text-dark fw-semibold pt-4 pb-3">
              About <span class="clr">Nues</span>Hup
            </h1>
            <hr>
            <div class="line bg-dark"></div>
          </div>
          <p class="text-dark fs-5"> <span class="text-rv">Get in touch <br>With </span><span class="clr fs-3">Nues</span>Hup</p>
          <p>Contact us for partnership, help, adding your newsletter to our platform</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <form class="row g-3 p-lg-5 p-4 bg-white theme-shadow rounded-3">
            <div class="form-group col-lg-6 pb-3">
              <input type="text" name="name" class="form-control p-3" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group col-lg-6 pb-3">
              <input type="email" name="email" class="form-control p-3" placeholder="Enter email address" required>
            </div>
            <div class="form-group col-lg-12">
              <textarea name="message" class="form-control pb-5" placeholder="Enter your message" cols="30" rows="4"
                required></textarea>
            </div>
            <div class="form-group col-lg-6 mt-4">
            </div>
            <button type="submit" class="btn btn-brand">Submit Review</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
