<section class="hero-section bg-header py-5 min-vh-100">
  <div class="container py-5">
    <div class="row g-5">
      <div class="d-flex align-items-center pt-5 justify-content-between">
        <div class="col-12 col-lg-6">
          <h1 class="text-black fw-bold">
            Delicious
          </h1>
          <p class="text-black pt-4">
            Discover a wide range of delectable dishes from various
            cuisines.
          </p>
          <button class="btn mt-5 btn_start">Start</button>
          <button class="btn bg-black ms-3 mt-5 btn_all">All Products</button>
        </div>
        <div class="col-12 col-lg-6">
          <div class="d-flex justify-content-end">
            <div class="d-flex flex-column">

              <div class="bord"></div>
            </div>
            <img
              src="https://s3-alpha-sig.figma.com/img/b102/ce93/7aa246ba8eda77fcabf27046b721d82a?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=G2zZE2tTcn89ozy9xyf2FBJD5-rPqxP4dGtn9EXv2y9yzgBbsCxvz2sx~XkVYRHPgfj9FhadNetjWk~CP-6diM1s8OPe5ojROT0wJQTOi9HI5x7ELoTZT-7aZZoz4q2bZwHDrylB9o204jNHrV-5NSiDA9HZpRSs4AhH6rXiON-hznDMJqKvqMjP3PKhSUVd-~WQuxuizhuzeJ31CCzSX8Ckut87nUsdp3~Aoi~v4xiFkeC2o6UoGzuEF0nKPm6qcc-SUOaF~nW08BHA0Sg01FEFF52qQSOpuZnBshGDnlRWZEbKVdqT3~oBAaIfFEuOhgP~~ZC~~0zoAOeIhqHHpw__"
              class="hero-img rounded-5" alt="a man using vr gadget" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<main>
  <!-- <section class="featured py-5" id="features">
    <div class="container">
      <h2 class="text-dark fw-bold text-center pt-5 pb-5">
        Find News Letter
      </h2>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img
            src="https://s3-alpha-sig.figma.com/img/f19a/c765/a2b197842368b9b54155c16993c44ed6?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=V9wk2u8kqCwVjaZ3Gd9LE3ZfWGebc5nLoMKsclbsZKW~4a~~lSOA5VFsJzaAbrwaZOLWiFGmEBUL0Us99hxUOOzZmGZmoVaqre7VNoa5uK4mQbM71JrvC~wlpflRQ7XX9YTAO5APXISOLC7jlQTdIOd0-j16a5BEwZR2fVQQY05hdvdWO5N0gUsU4AegSHz0siW0k5TeiPla0jdawog3ubHrSDHYXn11UqLxN-ZxsOWythS8sp~W-GwEFnd~k5xKwF~GF6MxWoAnzqmdPqxuRSOBMMVVscmg3VkSU8XlQJQYQTP8X268NHGMCcOWhb3MBQc8957iJvWy0YzcOsLU3g__"
            class="card-img-top card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="https://s3-alpha-sig.figma.com/img/91e1/3126/b90ef92a62f5af7cb95da44af0c2c2ca?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kxyyAy9NxmyQA5xbRXhwLW6AKRtfnIPta0sq3PZsP1gfAgDk~q2~TdWbf7L3YcOUG775rm3Sn3zMh0F-srWvA4sZoNdMtwFPSOzz~ql6gv5-ODCeJhmfSYNCfwBtv~r6rpuszQjLj0mGjzfjEuh-4IVVIHaTc6yzQlzKDnX83Vh6fEZ61q8EwciMj3Z3q8lpr5UVFsvEzRMAJTvJoJpxVQZohdaRVlwQcXkxdpOw1pUmz~a7BR9Qma0-39oT24Cscz4vhoqmwuBHSL1FNRaAVqNOqXEoOafSibc9LpmJxt~1KjXbyCB5c4IXMd9GlUzFcpcxuBrv4ZBSjFI6Yf0I2g__"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a short card.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="https://s3-alpha-sig.figma.com/img/3ee4/f55f/cae9eeb2c713f97e3a89e9c84c4329ce?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AbdJbd9c~7Ld1MLrlY123b766uAaCUy3X13lSM0jspzhTSt6x1ZnkTU19lCJQiOu5HARIHtMsId4eBkFHAnwIhWJrgBJYBVgholLXz89ybe-SfGk~CyZ0pGqH~pcRF7YsPxINXO88BpakrVI446eNA8sHmTN-aVo-H3krLXMrAftPKahuUx8RVb7VlsxZ8v0JbiZo6V-mTb4e8Ucz~DtMKVSeqrxPIElp~1CP7GEQ4iJJ7~IV1mOSj0PKOcUBppvdT6ARq5ddPGAHNE-m6l0UwkaMY1f6bL1S-xrhh5anV8pl5VVgYD-9luTxIBmd4itSvHpLKEQKO4jI1fbWv6XHQ__"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="how-it-works" id="how">
    <div class="container">
      <h2 class="text-dark fw-bold text-center pt-5 pb-3">
        How FoodieXpress Works
      </h2>

      <div class="container py-5">
        <div class="row g-5">
          <div class="col-12 col-lg-6">
            <div class="p-4 d-flex shadow-sm section-how-card flex-column justify-content-center rounded">
              <h3 class="fw-bold text-dark how-it-works-title">
                Browse our extensive menu
              </h3>
              <p class="how-it-works-text">
                Discover a wide range of delectable dishes from various
                cuisines. From appetizers and main courses to desserts and
                beverages, we have something to satisfy every craving.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="d-flex p-4 shadow-sm section-how-card flex-column justify-content-center rounded">
              <h3 class="fw-bold text-dark how-it-works-title">
                Place your order
              </h3>
              <p class="how-it-works-text">
                Discover a wide range of delectable dishes from various
                cuisines. From appetizers and main courses to desserts and
                beverages, we have something to satisfy every craving.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="d-flex p-4 shadow-sm section-how-card flex-column justify-content-center rounded">
              <h3 class="fw-bold text-dark how-it-works-title">
                Track your delivery
              </h3>
              <p class="how-it-works-text">
                Sit back and relax as our dedicated delivery professionals
                swiftly bring your order to your location. Monitor the
                progress of your delivery in real-time and know exactly when
                to expect your food.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="d-flex p-4 shadow-sm section-how-card flex-column justify-content-center rounded">
              <h3 class="fw-bold text-dark how-it-works-title">
                Enjoy your meal
              </h3>
              <p class="how-it-works-text">
                Once your order arrives, indulge in a flavorful dining
                experience from the comfort of your own home. Our commitment
                to quality ensures that every bite is a delight.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="testimonials">
    <div class="container">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container py-5">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="testimonial-card">
                      <img src="assets/sarah.jpg" width="150px" class="rounded-circle pb-4" alt="" />
                      <p class="testimonial-text pb-2">
                        FoodieXpress has transformed the way I enjoy meals.
                        The convenience of ordering my favorite dishes from
                        local restaurants and having them delivered to my
                        doorstep is simply fantastic.
                      </p>
                      <h3 class="testimonials-name">Sarah M</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container py-5">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="testimonial-card">
                      <img src="assets/john.jpg" width="150px" class="rounded-circle pb-4" alt="" />
                      <p class="testimonial-text pb-2">
                        FoodieXpress has transformed the way I enjoy meals.
                        The convenience of ordering my favorite dishes from
                        local restaurants and having them delivered to my
                        doorstep is simply fantastic.
                      </p>
                      <h3 class="testimonials-name">John j</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section> -->
</main>
