<section class="hero-section bg-header ">
  <div class="container ">
    <div class="row g-5">
      <div class="d-flex align-items-center pt-5 justify-content-between">
        <div class="col-12 col-lg-6">
          <h1 class="text-black fw-bold">
            Welcome to AI Solutions
          </h1>
          <p class="text-black pt-4 text-home">
            Unlock the power of AI to transform your business and personal projects. At AI Solutions, we offer a range
            of AI-driven
            services to boost productivity, enhance decision-making, and provide tailored solutions for your needs.
          </p>
          <a href="#features" class="text-white"><button class="btn mt-5 btn_start">Start</button></a>
          <button class="btn bg-black ms-3 mt-5 btn_all">All Products</button>
        </div>
        <div class="col-12 col-lg-6">
          <div class="d-flex justify-content-end">
            <div class="d-flex flex-column">

              <div class="bord"></div>
            </div>
            <img
              src="https://img.freepik.com/free-photo/ai-chip-artificial-intelligence-future-technology-innovation_53876-129780.jpg"
              class="hero-img rounded-5" alt="a man using vr gadget" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<main>
  <section class="featured py-5 container" id="features">
    <div class="container">
      <h2 class="text-dark fw-bold text-center pt-5 pb-5">
        Find News Letter
      </h2>
    </div>

    <div class="container d-flex justify-content-center mt-100">
      <div class="row w-100">
        <div  class="carousel slide" >
          <div class="">
            <div class="carousel-item active">
              <div class="row">
                <!-- Product 1 -->
                <div class="col-md-4 col-sm-6 col-12 ">
                  <div class="product-wrapper mb-45 text-center">
                    <div class="product-img">
                      <a href="#" data-abc="true">
                        <img
                          src="https://img.freepik.com/premium-photo/ai-artificial-intelligence-engineering-big-data-ai-machine-learning-use-generative-ai_1126722-14936.jpg"
                          class="img-fluid" alt="">
                      </a>
                      <span class="text-center"><i class="fa fa-rupee"></i> 43,000</span>
                    </div>
                    <div class="product-action product-action-style">
                      <h5 class="pe-3 ps-3">Intro to world of code</h5>
                      <p>By Th3 GreatC</p>
                      <p class="text-wl">Welcome to my padg</p>
                      <div class="btn mt-3">Read More</div>
                    </div>
                  </div>
                </div>

                <!-- Product 2 -->
                <div class="col-md-4 col-sm-6 col-12 ">
                  <div class="product-wrapper mb-45 text-center">
                    <div class="product-img">
                      <a href="#" data-abc="true">
                        <img
                          src="https://img.freepik.com/premium-photo/creative-artificial-intelligence-symbol-concept-with-hands-typing-computer-keyboard-background-double-exposure_258654-17386.jpg"
                          class="img-fluid" alt="">
                      </a>
                      <span><i class="fa fa-rupee"></i> 41,000</span>
                    </div>
                    <div class="product-action product-action-style">
                      <h5 class="pe-3 ps-3">Intro to world of code</h5>
                      <p>By Th3 GreatC</p>
                      <p class="text-wl">Welcome to my padg</p>
                      <div class="btn mt-3">Read More</div>
                    </div>
                  </div>
                </div>

                <!-- Product 3 -->
                <div class="col-md-4 col-sm-6 col-12 ">
                  <div class="product-wrapper mb-45 text-center">
                    <div class="product-img">
                      <a href="#" data-abc="true">
                        <img
                          src="https://img.freepik.com/free-photo/programming-background-with-html_23-2150038862.jpg"
                          class="img-fluid" alt="">
                        <!-- <img
                          src="https://img.freepik.com/free-photo/ai-cloud-concept-with-robot-arms_23-2149739749.jpg"
                          class="img-fluid" alt=""> -->
                      </a>
                      <span><i class="fa fa-rupee"></i> 33,000</span>
                    </div>
                    <div class="product-action product-action-style">
                      <h5 class="pe-3 ps-3">Intro to world of code</h5>
                      <p>By Th3 GreatC</p>
                      <p class="text-wl">Welcome to my padg</p>
                      <div class="btn mt-3">Read More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>




              </div>
            </div>
          </div>

        </div>

  </section>
  <section class="testimonials">
    <div class="container">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container py-5">
            <div class="row">
              <div class="col-12">
                <div class="d-flex flex-column align-items-center justify-content-center text-center">
                  <div class="testimonial-card">
                    <h3 class="testimonials-name pb-3">Area your a news Letter onwer ?</h3>
                    <div class="btn mb-3">Joing us today</div>
                    <p class="text-wl">You can feature your newslatter in our platform</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </section>



  <section class="section-padding pb-5" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title">
            <h1 class="display-4 text-dark fw-semibold pt-4 pb-3">
              About <span class="clr">Nues</span>Hup
            </h1>
            <hr>
            <div class="line bg-dark"></div>
          </div>
          <p class="text-dark fs-5"> <span class="text-rv">Get in touch <br>With </span><span
              class="clr fs-3">Nues</span>Hup</p>
          <p>Contact us for partnership, help, adding your newsletter to our platform</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <form class="row g-3 p-lg-5 p-4 bg-white theme-shadow rounded-3">
            <div class="form-group col-lg-6 pb-3">
              <input type="text" name="name" class="form-control p-3" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group col-lg-6 pb-3">
              <input type="email" name="email" class="form-control p-3" placeholder="Enter email address" required>
            </div>
            <div class="form-group col-lg-12">
              <textarea name="message" class="form-control pb-5" placeholder="Enter your message" cols="30" rows="4"
                required></textarea>
            </div>
            <div class="form-group col-lg-6 mt-4">
            </div>
            <button type="submit" class="btn btn-brand">Submit Review</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
