<footer>
  <div class="container py-5" id="contact">
    <div class="row">
      <div class="col-12 col-lg-4">
        <h3 class="fw-bold pb-3">Visit us</h3>
        <p>
          1234 Foodie Lane, Cityville, <br />
          State, Country
        </p>
        <a href="mailto:info@foodiexpress.com" class="text-dark">info&#64;foodieexpress.com</a>
      </div>
      <div class="col-12 col-lg-4">
        <h3 class="fw-bold pb-3">Our Link</h3>
        <div class="d-flex flex-column">
          <a href="#" class="text-dark">Home</a>
          <a href="#" class="text-dark">How it works</a>
          <a href="#" class="text-dark">Features</a>
          <a href="#" class="text-dark">Contact</a>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <h3 class="fw-bold pb-3">Our Link</h3>

      </div>
    </div>
  </div>
  <p class="text-center copyright"> &copy; 2023 all right reserved by foodiexpress</p>
</footer>
