<section class="featured py-5 container" id="features">
  <div class="container">
    <label for="search" class="fs-4">Search</label>
    <input type="search" class="form-control" placeholder="Search">
  </div>
  <div class="container d-flex justify-content-center mt-100">
    <div class="row w-100">
      <div class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active ">
            <div class="row ">
              <!-- Product 1 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://s3-alpha-sig.figma.com/img/f19a/c765/a2b197842368b9b54155c16993c44ed6?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=V9wk2u8kqCwVjaZ3Gd9LE3ZfWGebc5nLoMKsclbsZKW~4a~~lSOA5VFsJzaAbrwaZOLWiFGmEBUL0Us99hxUOOzZmGZmoVaqre7VNoa5uK4mQbM71JrvC~wlpflRQ7XX9YTAO5APXISOLC7jlQTdIOd0-j16a5BEwZR2fVQQY05hdvdWO5N0gUsU4AegSHz0siW0k5TeiPla0jdawog3ubHrSDHYXn11UqLxN-ZxsOWythS8sp~W-GwEFnd~k5xKwF~GF6MxWoAnzqmdPqxuRSOBMMVVscmg3VkSU8XlQJQYQTP8X268NHGMCcOWhb3MBQc8957iJvWy0YzcOsLU3g__"
                        class="img-fluid" alt="">
                    </a>
                    <span class="text-center"><i class="fa fa-rupee"></i> 43,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>

              <!-- Product 2 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://s3-alpha-sig.figma.com/img/3b2e/e536/5f3457b64e3aa9ab56ae96e38c56205b?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=E8ms~ggPLezLdqh~smS9s971k9euX~99OjpUC2mb4PoRj-sWte087Aq8IkCiLT6nGMMe8eMCpGDkJ8CF12WAzZnPWZERi2AzkJqozQk4xGLlNyW2dgHx3xcsyXWU61nF9v0AtAWf9HfgAMcZ8tPo-R6fNvmb7EHzYy83v5mnNV4fDLv5D6wGO-H~-CcIDgH-gKG78e78eE5jnP8HFmC39~DBDebIEfJIrjmgm4GwunhLq4WNdLYxxP-6WzBr1GGJeKTL0x4pNjiLb21yBH5l3CaSyqe5ogtwAU4M~iBSPZK2abw88UnIYiXA2L8k2Gmz3wTlb8sjLuve6UVjBwE2ZQ__"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 41,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>

              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://s3-alpha-sig.figma.com/img/3ee4/f55f/cae9eeb2c713f97e3a89e9c84c4329ce?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AbdJbd9c~7Ld1MLrlY123b766uAaCUy3X13lSM0jspzhTSt6x1ZnkTU19lCJQiOu5HARIHtMsId4eBkFHAnwIhWJrgBJYBVgholLXz89ybe-SfGk~CyZ0pGqH~pcRF7YsPxINXO88BpakrVI446eNA8sHmTN-aVo-H3krLXMrAftPKahuUx8RVb7VlsxZ8v0JbiZo6V-mTb4e8Ucz~DtMKVSeqrxPIElp~1CP7GEQ4iJJ7~IV1mOSj0PKOcUBppvdT6ARq5ddPGAHNE-m6l0UwkaMY1f6bL1S-xrhh5anV8pl5VVgYD-9luTxIBmd4itSvHpLKEQKO4jI1fbWv6XHQ__"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/free-vector/sphere-grid-wave-with-binary-code-ai-artificial-intelligence-logo-hand-machine-learning-concept_127544-855.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/futuristic-robot-artificial-intelligence-concept_31965-15168.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/hand-futuristic-robot-press-button-keyboard-conceptual-technology-design_84176-13741.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/free-photo/ai-technology-microchip-background-futuristic-innovation-technology-remix_53876-108532.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img src="https://img.freepik.com/free-vector/ai-futuristic-technology-background_53876-97391.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/free-photo/ai-technology-brain-background-digital-transformation-concept_53876-125206.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/robot-learning-machine-learning-with-education-hud-interface_493806-2844.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/3d-rendering-humanoid-robot-with-ai-text-ciucuit-pattern_493806-5779.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/free-photo/ai-technology-microchip-background-digital-transformation-concept_53876-124669.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/ai-nuclear-energy-background-future-innovation-disruptive-technology_937196-68.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/3d-rendering-android-robot-thinking-with-finger-point-head_493806-2291.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/artificial-intelligence-ai-internet-things-iot-concept_41050-7218.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/free-photo/representations-user-experience-interface-design_23-2150104513.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/modern-digital-tablet-monitor-with-abstract-programming-language-research-development-concept-top-view-3d-rendering_258654-34811.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/3d-rendering-humanoid-robot-with-ai-text-circuit-pattern_493806-2803.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>