

.btn {
  background-color: var(--color-clr);
  color: #fff;
  padding: 8px 24px;
  font-size: 1.1rem;
  border-radius: 10px;
}

.btn_start:hover {
  background-color: rgba(120, 57, 255, 0.658);
}

.btn_all:hover {
  background-color: #000000a2 !important;
}

.mt-100 {
  margin-top: 100px
}

.product-wrapper,
.product-img {
  overflow: hidden;
  position: relative;
}

.product-wrapper:hover .product-action {
  opacity: 1
}

.product-wrapper:hover .product-img img {
  transform: scale(1.1);
  transition: all 0.6s ease 0s
}
.mb-45 {
  margin-bottom: 45px
}

.product-action {
  bottom: 0px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 0.6s ease 0s
}

.product-wrapper {
  border-radius: 10px
}

.product-img>span {
  background-color: #000000;
  box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  left: 20px;
  letter-spacing: 1px;
  padding: 3px 12px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 20px
}

.product-action-style {
  background-color: #00000094;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
  display: inline-block;
  padding: 16px 2px 12px
}

.product-action-style>a {
  color: #fffcfc;
  line-height: 1;
  padding: 0 21px;
  position: relative
}

.product-action-style>a.action-plus {
  font-size: 18px
}

.product-wrapper:hover .product-action {
  bottom: 20px;
  opacity: 1
}
