<section class="featured py-5 container" id="features">
  <div class="container">
    <label for="search" class="fs-4">Search</label>
    <input type="search" class="form-control" placeholder="Search">
  </div>
  <div class="container d-flex justify-content-center mt-100">
    <div class="row w-100">
      <div class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active ">
            <div class="row ">
              <!-- Product 1 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/ai-artificial-intelligence-engineering-big-data-ai-machine-learning-use-generative-ai_1126722-14936.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span class="text-center"><i class="fa fa-rupee"></i> 43,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>

              <!-- Product 2 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/creative-artificial-intelligence-symbol-concept-with-hands-typing-computer-keyboard-background-double-exposure_258654-17386.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 41,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>

              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/free-photo/programming-background-with-html_23-2150038862.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/free-vector/sphere-grid-wave-with-binary-code-ai-artificial-intelligence-logo-hand-machine-learning-concept_127544-855.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/futuristic-robot-artificial-intelligence-concept_31965-15168.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/hand-futuristic-robot-press-button-keyboard-conceptual-technology-design_84176-13741.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/free-photo/ai-technology-microchip-background-futuristic-innovation-technology-remix_53876-108532.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img src="https://img.freepik.com/free-vector/ai-futuristic-technology-background_53876-97391.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/free-photo/ai-technology-brain-background-digital-transformation-concept_53876-125206.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/robot-learning-machine-learning-with-education-hud-interface_493806-2844.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/3d-rendering-humanoid-robot-with-ai-text-ciucuit-pattern_493806-5779.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/free-photo/ai-technology-microchip-background-digital-transformation-concept_53876-124669.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/ai-nuclear-energy-background-future-innovation-disruptive-technology_937196-68.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/3d-rendering-android-robot-thinking-with-finger-point-head_493806-2291.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/artificial-intelligence-ai-internet-things-iot-concept_41050-7218.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/free-photo/representations-user-experience-interface-design_23-2150104513.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/modern-digital-tablet-monitor-with-abstract-programming-language-research-development-concept-top-view-3d-rendering_258654-34811.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>
              <!-- Product 3 -->
              <div class="col-md-4 col-sm-6 col-12 ">
                <div class="product-wrapper mb-45 text-center">
                  <div class="product-img">
                    <a href="#" data-abc="true">
                      <img
                        src="https://img.freepik.com/premium-photo/3d-rendering-humanoid-robot-with-ai-text-circuit-pattern_493806-2803.jpg"
                        class="img-fluid" alt="">
                    </a>
                    <span><i class="fa fa-rupee"></i> 33,000</span>
                  </div>
                  <div class="product-action product-action-style">
                    <h5 class="pe-3 ps-3">Intro to world of code</h5>
                    <p>By Th3 GreatC</p>
                    <p class="text-wl">Welcome to my padg</p>
                    <div class="btn mt-3">Read More</div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
