/* You can add global styles to this file, and also import other style files */
:root {
  /* Primary Color */
  --primary-color: #048E7B;

  --background-color: #023931;

  /* Background */
  --white-color: #ffffff;

  /* Accent Gray */
  --heading-text: #000;

  --text-color: #333;

  --color-clr : rgb(121 57 255);
}
